#workskin .screenreader {
  position: absolute;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

#workskin p {
  line-height: 1.2em;
}

#workskin a,
#workskin a:link,
#workskin a:visited,
#workskin a:hover {
  border-bottom: none;
  color: inherit;
  text-decoration: none;
}

#workskin ::-webkit-scrollbar {
  width: 10px;
}

#workskin ::-webkit-scrollbar-track {
  background: none;
}

#workskin ::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.5);
  border-radius: 10px;
}

#workskin ::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.7);
  border-radius: 10px;
}

#workskin .twt {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  width: 332px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  font-size: 0;
  padding-top: 2px;
}

#workskin .twt .bg1,
#workskin .twt .bg2,
#workskin .twt .bg3 {
  min-width: 330px;
  position: relative;
  border-radius: 2px;
}

#workskin .twt .bg1 {
  overflow: hidden;
  padding-bottom: 10px;
  margin-top: 10px;
  border: 1px solid;
}

#workskin .twt .bg2 {
  height: 540px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-bottom: 1px solid;
}

#workskin .twt .bg3 {
  height: 530px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-bottom: 1px solid;
}

#workskin .twt hr.line,
#workskin .twt hr.line2 {
  border: none;
  position: relative;
  height: .8px;
  width: 100%;
}

#workskin .twt hr.line {
  margin-top: 8px;
  margin-bottom: 3px;
  margin-left: 0px;
}

#workskin .twt hr.line2 {
  opacity: 0;
  margin-top: 0px;
  margin-bottom: -28px;
}

#workskin .twt .headerdm {
  min-width: 330px;
  top: 0px;
  vertical-align: top;
  border-bottom: 1px solid;
  padding-top: 20px;
  height: 30px;
  margin-bottom: 10px;
  margin-top: 0px;
  position: sticky;
  z-index: 8;
}

#workskin .twt .icon {
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 3;
  width: 45px;
  height: 45px;
  vertical-align: top;
  margin-top: 5px;
  margin-left: 6px;
  border: 4px solid;
}

#workskin .twt .headerdmicon {
  width: 30px;
  height: 30px;
  vertical-align: top;
  margin-top: -8px;
  margin-left: 70px;
  z-index: 3;
}

#workskin .twt .headerdmicon1 {
  width: 30px;
  height: 30px;
  vertical-align: top;
  margin-top: -8px;
  margin-left: 62px;
  z-index: 5;
}


#workskin .twt .headerdmicon2 {
  width: 30px;
  height: 30px;
  vertical-align: top;
  margin-top: -8px;
  margin-left: 70px;
  z-index: 3;
}

#workskin .twt .iconqt {
  float: left;
  width: 19px;
  height: 19px;
  margin-top: -23px;
  margin-left: -2px;
}

#workskin .twt .twtcircleicon {
  width: 26px;
  margin-top: 10px;
  left: 18px;
}

#workskin .twt .icondm {
  width: 30px;
  height: 30px;
  left: -42px;
  bottom: 2px;
  z-index: 3;
}

#workskin .twt .headerdmicon,
#workskin .twt .headerdmicon1,
#workskin .twt .headerdmicon2,
#workskin .twt .iconqt,
#workskin .twt .twtcircleicon,
#workskin .twt .icondm {
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
}

#workskin .twt .headerbutton1,
#workskin .twt .headerbutton4 {
  width: 30px;
  height: 30px;
  vertical-align: top;
  position: absolute;
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;
}

#workskin .twt .headerbutton1 {
  margin-top: -7px;
  margin-left: 17px;
}

#workskin .twt .headerbutton4 {
  margin-top: -8px;
  margin-left: 285px;
}

#workskin .twt .headertext {
  max-width: 200px;
  vertical-align: top;
  margin-top: 5px;
  margin-left: 67px;
  position: absolute;
  font-size: 20px;
  display: inline-block;
  font-weight: medium;
}

#workskin .twt .headerdmtext {
  max-width: 150px;
  vertical-align: top;
  padding-top: 10px;
  height: 30px;
  overflow: hidden;
  margin-top: -5px;
  margin-left: 100px;
  position: absolute;
  font-size: 17px;
  display: inline-block;
  font-weight: bold;
}

#workskin .twt .footer {
  position: relative;
}

#workskin .twt .footerbutton6,
#workskin .twt .dmfooterbutton1,
#workskin .twt .dmfooterbutton2,
#workskin .twt .dmfooterbutton3 {
  width: 26px;
  height: 26px;
  vertical-align: top;
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;
}

#workskin .twt .footerbutton6 {
  margin-top: 4px;
  margin-left: 273px;
}

#workskin .twt .dmfooter,
#workskin .twt .dmfooterblocked {
  min-width: 330px;
  height: 50px;
  position: relative;
  vertical-align: bottom;
  overflow: hidden;
 top: -5px;
margin-bottom: -12px;
}

#workskin .twt .dmfooter {
  padding-bottom: 0px;
}

#workskin .twt .dmfooterblocked {
  border-top: 1px solid;
  text-align: center;
  padding: 0px 5px 0px 5px;
  font-size: 12px;
}

#workskin .twt .dmfooterbar {
  height: 42px;
  width: 306px;
  top: 5px;
  left: 11px;
  border-radius: 20px;
  text-align: left;
  overflow: hidden;
  position: absolute;
}

#workskin .twt .dmfooterbartext {
  display: inline-block;
  position: absolute;
  margin-top: 19.5px;
  margin-left: 86px;
  font-size: 13.5px;
}

#workskin .twt .dmfooterbutton1 {
  margin-left: 17px;
  margin-top: 6px;
  position: absolute;
}

#workskin .twt .dmfooterbutton2 {
  margin-left: 50px;
  margin-top: 6px;
  position: absolute;
}

#workskin .twt .dmfooterbutton3 {
  margin-left: 265px;
  margin-top: 6px;
  position: absolute;
}

#workskin .twt .twtfooter {
  width: 300px;
  left: 14px;
  height: 38px;
  top: 0px;
  position: relative;
  vertical-align: bottom;
  border-bottom: 1px solid;
}

#workskin .twt .twtfootertext {
  font-size: 14px;
  display: inline-block;
  position: relative;
  width: 270px;
  text-align: left;
  top: 22px;
}

#workskin .twt .reply {
  min-height: 50px;
  min-width: 330px;
  max-width: 330px;
  vertical-align: top;
  top: -5px;
}

#workskin .twt .replycontent {
  margin-top: -15px;
  padding-left: 65px;
  font-size: 14px;
  display: inline-block;
  width: 245px;
  text-align: left;
}

#workskin .twt .replyid {
  padding-left: 65px;
  margin-top: -40px;
  margin-bottom: 2px;
}

#workskin .twt .replyname {
  font-weight: bold;
  font-size: 14.1px;
}

#workskin .twt .replyhandle {
  font-size: 14.1px;
}

#workskin .twt .replydots,
#workskin .twt .twtdots {
  position: absolute;
  height: 18px;
  width: 18px;
  margin-left: 300px;
  background-size: 100%;
  background-repeat: no-repeat;
}

#workskin .twt .replydots {
  margin-top: -16px;
}

#workskin .twt .twtdots {
  margin-top: -50px;
}

#workskin .twt .links {
  color: #209AED;
}

#workskin .twt .replyingto {
  height: 18px;
  width: 200px;
  margin-left: 64px;
  margin-top: -16px;
  margin-bottom: 18px;
  font-size: 14px;
}

#workskin .twt .replyvertical1,
#workskin .twt .replyvertical2,
#workskin .twt .replyvertical3,
#workskin .twt .replyvertical4,
#workskin .twt .replyvertical5 {
  border-left: 2.7px solid;
  display: inline-block;
  position: relative;
  z-index: 2;
}

#workskin .twt .replyvertical1 {
  min-height: 100px;
  top: 22px;
  left: 32px;
}

#workskin .twt .replyvertical2 {
  min-height: 150px;
  top: 28px;
  left: 32px;
}

#workskin .twt .replyvertical3 {
  min-height: 200px;
  top: 25px;
  left: 32px;
}

#workskin .twt .replyvertical4 {
  min-height: 250px;
  top: 22px;
  left: 32px;
}

#workskin .twt .replyvertical5 {
  min-height: 340px;
  top: 22px;
  left: 32px;
}

#workskin .twt .sharebar,
#workskin .twt .sharebar1,
#workskin .twt .sharebar2,
#workskin .twt .sharebar3,
#workskin .twt .sharebar4,
#workskin .twt .sharebar5 {
  min-height: 28px;
  margin-top: -12px;
  margin-left: 29px;
}

#workskin .twt .sharebar {
  margin-bottom: -3px;
}

#workskin .twt .sharebar1 {
  margin-bottom: -95px;
}

#workskin .twt .sharebar2 {
  margin-bottom: -152px;
}

#workskin .twt .sharebar3 {
  margin-bottom: -200px;
}

#workskin .twt .sharebar4 {
  margin-bottom: -250px;
}

#workskin .twt .sharebar5 {
  margin-bottom: -340px;
}

#workskin .twt .replybutton1a,
#workskin .twt .replybutton1b,
#workskin .twt .replybutton2a,
#workskin .twt .replybutton2b,
#workskin .twt .replybutton2c,
#workskin .twt .replybutton3a,
#workskin .twt .replybutton3b,
#workskin .twt .replybutton4 {
  width: 18px;
  height: 18px;
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
  margin-top: 6px;
  position: absolute;
}

#workskin .twt .replybutton1a,
#workskin .twt .replybutton1b {
  margin-left: 37px;
}

#workskin .twt .replybutton2a,
#workskin .twt .replybutton2b,
#workskin .twt .replybutton2c {
  margin-left: 106px;
}

#workskin .twt .replybutton3a,
#workskin .twt .replybutton3b {
  margin-left: 175px;
}

#workskin .twt .replybutton4 {
  margin-left: 244px;
}

#workskin .twt .reply1a,
#workskin .twt .reply1b,
#workskin .twt .reply2a,
#workskin .twt .reply2b,
#workskin .twt .reply2c,
#workskin .twt .reply3a,
#workskin .twt .reply3b {
  font-size: 12px;
  margin-top: 14px;
  margin-bottom: -10px;
  display: inline-block;
  position: absolute;
}

#workskin .twt .reply1a,
#workskin .twt .reply1b {
  margin-left: 60px;
}

#workskin .twt .reply2a,
#workskin .twt .reply2b {
  margin-left: 130px;
}

#workskin .twt .reply2c {
  color: #00BA7B;
  margin-left: 130px;
}

#workskin .twt .reply3a {
  margin-left: 198px;
}

#workskin .twt .reply3b {
  color: #F91880;
  margin-left: 198px;
}

#workskin .twt .replyqtbox {
  width: 226px;
  margin-bottom: 25px;
}

#workskin .twt .twtqtbox {
  width: 275px;
  margin-bottom: 19px;
}

#workskin .twt .twtqtbox,
#workskin .twt .replyqtbox,
#workskin .twt .mutedbox {
  border: .8px solid;
  border-radius: 10px;
  margin-top: -8px;
  padding: 10px 8px 0px 10px;
}

#workskin .twt .qtcontent {
  font-size: 14px;
  margin-top: -3px;
  margin-bottom: -10px;
}

#workskin .twt .qtid {
  padding-left: 25px;
  font-size: 14px;
  margin-top: -40px;
  position: absolute;
}

#workskin .twt .mutedbox {
  width: 226px;
  height: 43px;
  margin-bottom: 25px;
  overflow: hidden;
}

#workskin .twt .mutedcontent {
  margin: -20px;
  position: absolute;
  display: inline-block;
  overflow: hidden;
  width: 190px;
  font-size: 13.5px;
}

#workskin .twt .mutedview {
  margin-top: -12px;
  position: absolute;
  display: inline-block;
  overflow: hidden;
  width: 50px;
  left: 270px;
  font-weight: bold;
  font-size: 13.5px;
}

#workskin .twt .replypoll {
  height: 29px;
  width: 243px;
  margin-top: -5px;
  margin-bottom: 8px;
  border: 1px solid;
  border-radius: 15px;
  text-align: center;
  overflow: hidden;
  border-color: #209AED;
}

#workskin .twt .replypolltext {
  display: inline-block;
  font-weight: bold;
  position: relative;
  top: -13.5px;
  font-size: 13px;
  color: #209AED;
}

#workskin .twt .pollvotes {
  margin-bottom: 5px;
  margin-left: 2px;
  margin-right: 10px;
  font-size: 12px;
  display: inline-block;
}

#workskin .twt .replypollresults {
  height: 29px;
  width: 243px;
  margin-top: -5px;
  margin-bottom: 8px;
  border-radius: 5px;
  text-align: left;
  overflow: hidden;
}

#workskin .twt .replypollresultstext {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 215px;
  top: -12.5px;
  left: 8px;
  margin-right: -10px;
  font-size: 13px;
  z-index: 3;
}

#workskin .twt .replypollresultstext2 {
  position: relative;
  display: inline-block;
  top: -30px;
  left: -2px;
  font-size: 13px;
  z-index: 3;
}

#workskin .twt .pollbarwinner,
#workskin .twt .pollbarothers {
  z-index: 2;
  left: -10px;
  top: -69px;
  margin-right: -20px;
  border-radius: 5px;
  min-width: 10px;
  border: 2px solid;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

#workskin .twt .pollbarwinner {
  height: 26px;
}

#workskin .twt .pollbarothers {
  height: 25px;
}

#workskin .twt .pollbarwin25,
#workskin .twt .pollbarwin50,
#workskin .twt .pollbarwin75,
#workskin .twt .pollbarwin100,
#workskin .twt .pollbarlos25,
#workskin .twt .pollbarlos50 {
  margin-top: -50px;
  height: 70px;
  display: inline-block;
  position: relative;
}

#workskin .twt .pollbarwin25,
#workskin .twt .pollbarlos25 {
  width: 60px;
}

#workskin .twt .pollbarwin50,
#workskin .twt .pollbarlos50 {
  width: 120px;
}

#workskin .twt .pollbarwin75 {
  width: 180px;
}

#workskin .twt .pollbarwin100 {
  width: 250px;
}

#workskin .twt .twtpollbarwinner {
  z-index: 2;
  left: -10px;
  top: -65px;
  margin-right: -20px;
  border-radius: 5px;
  min-width: 10px;
  height: 25px;
  border: 2px solid;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

#workskin .twt .twtpollbarothers {
  z-index: 2;
  left: -10px;
  top: -65px;
  margin-right: -20px;
  border-radius: 5px;
  min-width: 10px;
  height: 25px;
  border: 2px solid;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

#workskin .twt .twtpollbarwin25,
#workskin .twt .twtpollbarwin50,
#workskin .twt .twtpollbarwin75,
#workskin .twt .twtpollbarwin100,
#workskin .twt .twtpollbarlos25,
#workskin .twt .twtpollbarlos50 {
  margin-top: -50px;
  height: 70px;
  display: inline-block;
  position: relative;
  background-size: 100%;
  background-repeat: repeat;
  margin-left: -10px;
}

#workskin .twt .twtpollbarwin25,
#workskin .twt .twtpollbarlos25 {
  width: 75px;
}

#workskin .twt .twtpollbarwin50,
#workskin .twt .twtpollbarlos50 {
  width: 150px;
}

#workskin .twt .twtpollbarwin75 {
  width: 225px;
}

#workskin .twt .twtpollbarwin100 {
  width: 300px;
}

#workskin .twt .twtid {
  padding-left: 65px;
  margin-top: -63px;
  font-size: 14px;
}

#workskin .twt .twtcontent {
  margin-top: -24px;
  padding: 0px 0px 0px 14px;
  font-size: 16px;
  display: inline-block;
  width: 300px;
  text-align: left;
}

#workskin .twt .twttimebox {
  width: 314px;
  min-height: 28px;
  margin-top: 0px;
  margin-left: 8px;
  margin-bottom: 20px;
}

#workskin .twt .twttime {
  font-size: 13px;
  display: inline-block;
  width: 300px;
  text-align: left;
  margin-left: 5px;
}

#workskin .twt .twtnumbers1 {
  font-size: 13px;
  margin-top: 14px;
  margin-bottom: 10px;
  margin-left: 5px;
  display: inline-block;
  position: relative;
  font-weight: bold;
}

#workskin .twt .twttext {
  font-size: 13px;
  font-weight: normal;
}

#workskin .twt .twtnumbers2 {
  font-size: 13px;
  margin-top: 14px;
  margin-bottom: 10px;
  margin-left: 25px;
  display: inline-block;
  position: absolute;
  font-weight: bold;
}

#workskin .twt .twtnumbers3 {
  font-size: 13px;
  margin-top: 14px;
  margin-bottom: 10px;
  margin-left: 145px;
  display: inline-block;
  position: absolute;
  font-weight: bold;
}

#workskin .twt .twtbutton1a,
#workskin .twt .twtbutton1b,
#workskin .twt .twtbutton2a,
#workskin .twt .twtbutton2b,
#workskin .twt .twtbutton2c,
#workskin .twt .twtbutton3a,
#workskin .twt .twtbutton3b,
#workskin .twt .twtbutton4 {
  width: 24px;
  height: 24px;
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
  margin-top: 3px;
  position: absolute;
}

#workskin .twt .twtbutton1a,
#workskin .twt .twtbutton1b {
  margin-left: -2px;
}

#workskin .twt .twtbutton2a,
#workskin .twt .twtbutton2b,
#workskin .twt .twtbutton2c {
  margin-left: 80px;
}

#workskin .twt .twtbutton3a,
#workskin .twt .twtbutton3b {
  margin-left: 165px;
}

#workskin .twt .twtbutton4 {
  margin-left: 247px;
}

#workskin .twt .twtpoll {
  height: 29px;
  width: 295px;
  margin-top: -5px;
  margin-bottom: 8px;
  border: 1px solid;
  border-radius: 15px;
  text-align: center;
  overflow: hidden;
  border-color: #209AED;
}

#workskin .twt .twtpolltext {
  display: inline-block;
  font-weight: bold;
  position: relative;
  top: -18px;
  margin-bottom: 2px;
  font-size: 13px;
  color: #209AED;
}

#workskin .twt .twtpollresults {
  height: 34px;
  width: 295px;
  margin-top: -5px;
  margin-bottom: 8px;
  border-radius: 8px;
  text-align: left;
  overflow: hidden;
}

#workskin .twt .twtpollresultstext1 {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 275px;
  top: -7px;
  left: 8px;
  margin-right: -10px;
  font-size: 13px;
  z-index: 3;
}

#workskin .twt .twtpollresultstext2 {
  position: relative;
  display: inline-block;
  top: -30px;
  left: -9px;
  font-size: 13px;
  z-index: 3;
}

#workskin .twt .twtcirclebox1 {
  min-height: 50px;
  width: 310px;
  margin-left: -4px;
  margin-top: 10px;
  margin-bottom: 13px;
  border-radius: 10px;
}

#workskin .twt .twtcirclecontent {
  margin-top: 7px;
  margin-left: 44px;
  margin-right: 12px;
  font-size: 13px;
  display: inline-block;
  line-height: 17px;
  text-align: left;
}

#workskin .twt .dmsent1 {
  float: right;
  margin: 0.1em 1em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  border-radius: 18px 18px 18px 18px;
  padding: .6em 1em .7em 1em;
  max-width: 70%;
  clear: both;
  font-size: 14px;
  position: relative;
  line-height: 16px;
  min-height: 19px;
  text-align: left !important;
  color: #FFFFFF;
  background: #209AED;
}

#workskin .twt .dmsent2 {
  float: right;
  margin: 0.1em 1em;
  margin-top: 0.2em;
  margin-bottom: 5px;
  border-radius: 18px 18px 4px 18px;
  padding: .6em 1em .7em 1em;
  max-width: 70%;
  clear: both;
  position: relative;
  font-size: 14px;
  line-height: 16px;
  min-height: 19px;
  text-align: left !important;
  color: #FFFFFF;
  background: #209AED;
}

#workskin .twt .dmreceived1 {
  float: left;
  margin: 0.1em 1em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  border-radius: 18px 18px 18px 18px;
  padding: .6em 1em .7em 1em;
  max-width: 70%;
  clear: both;
  position: relative;
  font-size: 14px;
  line-height: 16px;
  min-height: 19px;
  text-align: left !important;
}

#workskin .twt .dmreceived2 {
  float: left;
  margin: 0.1em 1em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  border-radius: 18px 18px 18px 4px;
  padding: .6em 1em 0.7em 1em;
  max-width: 70%;
  clear: both;
  font-size: 14px;
  position: relative;
  line-height: 16px;
  min-height: 19px;
  text-align: left !important;
}

#workskin .twt .dmtimestampsent {
  float: right;
  margin-top: 0px;
  margin-right: -3px;
  font-size: 11px;
  text-align: right !important;
  max-width: 70%;
  height: 13px;
  position: relative;
  line-height: 13px;
  display: inline-block;
}

#workskin .twt .dmtimestampreceived {
  float: left;
  margin-top: 2px;
  margin-left: -8px;
  font-size: 11px;
  text-align: left !important;
  max-width: 70%;
  height: 13px;
  position: relative;
  line-height: 13px;
  display: inline-block;
}

#workskin .twt .dmaddreactionsmall {
  height: 16px;
  width: 16px;
  position: absolute;
  display: inline-block;
  vertical-align: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
}

#workskin .twt .dmaddreactionbig {
  height: 19px;
  width: 19px;
  position: absolute;
  display: inline-block;
  vertical-align: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-left: 7px;
  margin-top: 5px;
}

#workskin .twt .dmreactionsent {
  float: right;
  margin: -1.2em 1.4em 2em 0em;
  padding: 0;
  font-size: 16px;
  text-align: right !important;
  width: 90%;
  height: 13px;
  position: relative;
  line-height: 10px;
  display: inline-block;
}

#workskin .twt .dmreactiontext {
  font-size: 11px;
  margin-right: 6px;
  display: inline-block;
}

#workskin .twt .dmreactionreceived {
  float: left;
  margin: -1.2em 0em 2em 1.4em;
  padding: 0em;
  font-size: 16px;
  text-align: left !important;
  width: 90%;
  height: 13px;
  position: relative;
  line-height: 10px;
  display: inline-block;
}

#workskin .twt .dmreactionborder {
  left: -5px;
  top: 20px;
  border-radius: 18px 18px 18px 18px;
  border: 1px solid;
  width: 40px;
  height: 22px;
  clear: both;
  position: absolute;
}

#workskin .twt .dmgroupchat {
  float: right;
  width: 280px;
}

#workskin .twt .dmemojisent {
  float: right;
  margin: 0.1em 1em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  border-radius: 18px 18px 18px 18px;
  padding: .2em;
  max-width: 70%;
  clear: both;
  font-size: 20px;
  position: relative;
  line-height: 24px;
  min-height: 22px;
  text-align: right !important;
}

#workskin .twt .dmemojireceived {
  float: left;
  margin: 0.1em 1em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  border-radius: 18px 18px 18px 18px;
  padding: .2em .2em .2em .1em;
  max-width: 70%;
  clear: both;
  position: relative;
  font-size: 20px;
  line-height: 24px;
  min-height: 22px;
  text-align: left !important;
}

#workskin .twt .dmsentimg {
  float: right;
  margin: 0.1em 1em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  border-radius: 18px 18px 18px 18px;
  max-width: 70%;
  font-size: 14px;
  clear: both;
  position: relative;
  min-height: 50px;
  overflow: hidden;
}

#workskin .twt .dmreceivedimg {
  float: left;
  margin: 0.1em 1em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  font-size: 14px;
  border-radius: 18px 18px 18px 18px;
  max-width: 70%;
  clear: both;
  position: relative;
  min-height: 50px;
  overflow: hidden;
}

#workskin .twt .linkdmreceived {
  color: #209AED;
  text-decoration: underline;
}

#workskin .twt .linkdmsent {
  text-decoration: underline;
}

#workskin .twt .dmdate {
  font-size: 11px;
  height: 13px;
  width: 328px;
  overflown: hidden;
  font-weight: bold;
  display: inline-block;
  position: relative;
  line-height: 13px;
  text-align: center;
  float: right;
  margin-top: 8px;
  margin-bottom: 12px;
}

#workskin .twt .dmvoicereceived,
#workskin .twt .dmvoicesent {
  margin-left: -5px;
  margin-bottom: -11px;
  top: -3px;
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  display: inline-block;
  z-index: 5;
}

#workskin .twt .dmvoicereceived {
  background-image: url("https://i.ibb.co/LNDMZJf/playreceived.png");
}

#workskin .twt .dmvoicesent {
  background-image: url("https://i.ibb.co/Z2bxpjJ/playsent.png");
}

#workskin .twt .dmvoicetimer {
  opacity: .7;
  display: inline-block;
  margin-top: 3px;
  padding-left: 20px;
}

#workskin .twt audio {
  opacity: 0;
  border-radius: 7px;
  width: 100px;
  z-index: 6;
  position: absolute;
}

#workskin .twt audio::-webkit-media-controls-play-button {
  height: 80px;
  margin-top: 1px;
  margin-left: -25px;
}

#workskin .twt .twtcantreply {
  min-height: 50px;
  width: 310px;
  margin-left: -4px;
  margin-top: 10px;
  margin-bottom: 13px;
  border-radius: 10px;
}

#workskin .twt .end2 {
  border-radius: 50%;
  width: 3px;
  height: 3px;
  margin-top: 15px;
  margin-left: 163px;
  position: relative;
}

#workskin .twt .end2 {
  margin-bottom: 15px;
}

#workskin .twt .blockedcontent,
#workskin .twt .twtblockedcontent {
  margin-top: 1px;
  margin-left: 0px;
  display: inline-block;
  width: 273px;
  font-size: 13.5px;
  line-height: 14px;
  z-index: 9;
}

#workskin .twt .verticalblocked {
  border-left: 2.7px solid;
  min-height: 38px;
  display: inline-block;
  position: relative;
  top: 22px;
  left: 32px;
  z-index: 2;
}

#workskin .twt .qtdeleted {
  padding: 0px 1px 0px 10px;
  width: 230px;
  min-height: 50px;
  margin-top: -8px;
  margin-bottom: 25px;
  border: .8px solid;
  border-radius: 10px;
  z-index: 9;
}

#workskin .twt .twtqtdeleted {
  padding: 1px 8px 0px 10px;
  min-height: 50px;
  width: 275px;
  margin-top: -8px;
  margin-bottom: 19px;
  border: .8px solid;
  border-radius: 10px;
  z-index: 9;
}

#workskin .twt .deleted {
  display: inline-block;
  margin-top: 30px;
  width: 329px;
  margin-left: 1px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

#workskin .twt .deletedbox {
  min-height: 20px;
  margin-top: 40px;
}

#workskin .twt .blockedbox {
  min-height: 50px;
  margin-top: 10px;
}

#workskin .twt .deletedbox,
#workskin .twt .blockedbox {
  padding: 10px 2px 10px 10px;
  width: 287px;
  margin-bottom: -19px;
  margin-left: 12px;
  border: .8px solid;
  border-radius: 10px;
  z-index: 9;
}

#workskin .twt .replyimgbox1,
#workskin .twt .replyimgbox2a,
#workskin .twt .replyimgbox2b,
#workskin .twt .replyimgbox3a,
#workskin .twt .replyimgbox3b,
#workskin .twt .replyimgbox4a,
#workskin .twt .replyimgbox4b,
#workskin .twt .imgboxcenA,
#workskin .twt .imgboxcenB,
#workskin .twt .imgboxcenC,
#workskin .twt .twtimgbox1,
#workskin .twt .twtimgbox2a,
#workskin .twt .twtimgbox2b,
#workskin .twt .twtimgbox3a,
#workskin .twt .twtimgbox3b,
#workskin .twt .twtimgbox4a,
#workskin .twt .twtimgbox4b,
#workskin .twt .qtimgbox1,
#workskin .twt .twtimgboxqt1 {
  font-size: 0px;
  margin-bottom: 18px;
  overflow: hidden;
}

#workskin .twt .replyimgbox1,
#workskin .twt .twtimgbox1 {
  min-height: 120px;
  max-height: 320px;
  border-radius: 10px;
  margin-top: -12px;
}

#workskin .twt .qtimgbox1 {
  margin-top: -12px;
  width: 227px;
  min-height: 120px;
  max-height: 300px;
  border-radius: 10px;
}

#workskin .twt .twtimgboxqt1 {
  margin-top: -12px;
  width: 275px;
  min-height: 120px;
  max-height: 320px;
  border-radius: 10px;
}

#workskin .twt .replyimgbox1 {
  width: 245px;
}

#workskin .twt .twtimgbox1 {
  width: 295px;
}

#workskin .twt .replyimgbox2a,
#workskin .twt .twtimgbox2a,
#workskin .twt .qtimgbox2a {
  margin-top: -12px;
  border-right: 4px solid transparent;
  border-radius: 10px 0px 0px 10px;
}

#workskin .twt .replyimgbox2a {
  width: 120px;
  height: 132px;
}

#workskin .twt .twtimgbox2a {
  width: 145px;
  height: 190px;
}

#workskin .twt .replyimgbox2b,
#workskin .twt .twtimgbox2b {
  border-left: 4px solid transparent;
  border-radius: 0px 10px 10px 0px;
}

#workskin .twt .replyimgbox2b {
  margin-top: -150px;
  margin-left: 121px;
  width: 120px;
  height: 132px;
}

#workskin .twt .twtimgbox2b {
  margin-top: -208px;
  margin-left: 147px;
  width: 145px;
  height: 190px;
}

#workskin .twt .replyimgbox3a,
#workskin .twt .twtimgbox3a,
#workskin .twt .qtimgbox3a {
  border: 0px 0px 4px 4px solid transparent;
  border-radius: 0px 10px 0px 0px;
}

#workskin .twt .replyimgbox3a {
  margin-top: -150px;
  margin-left: 124px;
  width: 120px;
  height: 63.5px;
}

#workskin .twt .twtimgbox3a {
  margin-top: -208.5px;
  margin-left: 150px;
  width: 145px;
  height: 93px;
}

#workskin .twt .replyimgbox3b,
#workskin .twt .twtimgbox3b,
#workskin .twt .qtimgbox3b {
  margin-top: -13px;
  border: 4px 0px 0px 4px solid transparent;
  border-radius: 0px 0px 10px 0px;
}

#workskin .twt .twtimgbox3b {
  margin-left: 150px;
  width: 145px;
  height: 93px;
}

#workskin .twt .replyimgbox3b {
  margin-left: 124px;
  width: 120px;
  height: 63.5px;
}

#workskin .twt .replyimgbox4a,
#workskin .twt .twtimgbox4a {
  margin-top: -12px;
  margin-bottom: 26px !important;
  border: 0px 4px 4px 0px solid transparent;
  border-radius: 10px 0px 0px 0px;
}

#workskin .twt .replyimgbox4a {
  width: 120px;
  height: 63.5px;
}

#workskin .twt .twtimgbox4a {
  width: 145px;
  height: 93px;
}

#workskin .twt .replyimgbox4b,
#workskin .twt .twtimgbox4b {
  margin-top: -21px;
  border: 4px 4px 0px 0px solid transparent;
  border-radius: 0px 0px 0px 10px;
}

#workskin .twt .replyimgbox4b {
  width: 120px;
  height: 63.5px;
}

#workskin .twt .twtimgbox4b {
  width: 145px;
  height: 93px;
}

#workskin .twt .imgcenA:hover,
#workskin .twt .imgcenB:hover,
#workskin .twt .imgcenC:hover {
  opacity: 100%;
  transition: .5s;
}

#workskin .twt .imgboxcenA,
#workskin .twt .imgboxcenB,
#workskin .twt .imgboxcenC {
  background-image: url("https://i.ibb.co/w7P513P/censored.png");
  background-repeat: repeat-y;
  background-size: 100%;
  margin-top: -12px;
  width: 245px;
  border-radius: 10px;
}

#workskin .twt .imgboxcenA {
  height: 300px;
}

#workskin .twt .imgboxcenB {
  height: 245px;
}

#workskin .twt .imgboxcenC {
  height: 132px;
}

#workskin .twt .imgboxcenAsym,
#workskin .twt .imgboxcenBsym,
#workskin .twt .imgboxcenCsym {
  width: 30px;
  height: 30px;
  background-image: url("https://i.ibb.co/4RKL0dJ/eye.png");
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
  z-index: 1;
  position: absolute;
  left: 170px;
}

#workskin .twt .imgboxcenAsym {
  margin-top: 75px;
}

#workskin .twt .imgboxcenBsym {
  margin-top: 57px;
}

#workskin .twt .imgboxcenCsym {
  margin-top: 9px;
}

#workskin .twt .imgboxcenAtext1,
#workskin .twt .imgboxcenBtext1,
#workskin .twt .imgboxcenCtext1,
#workskin .twt .imgboxcenAtext2,
#workskin .twt .imgboxcenBtext2,
#workskin .twt .imgboxcenCtext2 {
  left: 76px;
  margin-right: 20px;
  color: #ffffff;
  font-size: 13px;
  display: inline-block;
  z-index: 1;
  text-align: left;
  position: absolute;
  line-height: 1.2em;
}

#workskin .twt .imgboxcenAtext1 {
  margin-top: 115px;
  font-weight: bold;
}

#workskin .twt .imgboxcenBtext1 {
  margin-top: 92px;
  font-weight: bold;
}

#workskin .twt .imgboxcenCtext1 {
  margin-top: 40px;
  font-weight: bold;
}

#workskin .twt .imgboxcenAtext2 {
  margin-top: 135px;
}

#workskin .twt .imgboxcenBtext2 {
  margin-top: 112px;
}

#workskin .twt .imgboxcenCtext2 {
  margin-top: 60px;
}

#workskin .twt .imgboxcenAbutton,
#workskin .twt .imgboxcenBbutton,
#workskin .twt .imgboxcenCbutton {
  background: #000000;
  border-radius: 25px;
  height: 22px;
  width: 53px;
  display: inline-block;
  z-index: 1;
  position: absolute;
  left: 243px;
}

#workskin .twt .imgboxcenAbutton {
  margin-top: 185px;
}

#workskin .twt .imgboxcenBbutton {
  margin-top: 152px;
}

#workskin .twt .imgboxcenCbutton {
  margin-top: 100px;
}

#workskin .twt .imgboxcenbuttontext {
  font-weight: bold;
  color: #ffffff;
  font-size: 13px;
  display: inline-block;
  z-index: 1;
  position: absolute;
  left: 9px;
  top: 9px;
}

#workskin .twt .replyimg1,
#workskin .twt .replyimg2a,
#workskin .twt .replyimg2b,
#workskin .twt .replyimg3a,
#workskin .twt .replyimg3b,
#workskin .twt .replyimg4a,
#workskin .twt .replyimg4b,
#workskin .twt .imgcenA,
#workskin .twt .imgcenB,
#workskin .twt .imgcenC,
#workskin .twt .imgcen2a,
#workskin .twt .imgcen2b,
#workskin .twt .imgcen3a,
#workskin .twt .imgcen3b,
#workskin .twt .imgcen4a,
#workskin .twt .imgcen4b,
#workskin .twt .imgcen4c,
#workskin .twt .imgcen4d,
#workskin .twt .twtimg1,
#workskin .twt .twtimg2a,
#workskin .twt .twtimg2b,
#workskin .twt .twtimg3a,
#workskin .twt .twtimg3b,
#workskin .twt .twtimg4a,
#workskin .twt .twtimg4b,
#workskin .twt .qtimg1,
#workskin .twt .twtimgqt1 {
  font-size: 0px;
  display: block;
  position: relative;
  overflow: hidden;
}

#workskin .twt .replyimg1,
#workskin .twt .twtimg1,
#workskin .twt .qtimg1,
#workskin .twt .twtimgqt1 {
  margin-top: -20px;
  margin-bottom: -10px;
  border-radius: 10px;
}

#workskin .twt .replyimg1 {
  min-width: 245px;
  max-width: 290px;
  min-height: 120px;
}

#workskin .twt .twtimg1 {
  min-width: 300x;
  min-height: 175px;
}

#workskin .twt .qtimg1 {
  width: 227px;
  min-height: 120px;
}

#workskin .twt .twtimgqt1 {
  min-width: 275x;
  min-height: 175px;
}

#workskin .twt .imgcenA,
#workskin .twt .imgcenB,
#workskin .twt .imgcenC {
  margin-top: -1px;
  margin-bottom: -10px;
  opacity: 0%;
  z-index: 2;
}

#workskin .twt .imgcenA {
  min-width: 245px;
  min-height: 300px;
}

#workskin .twt .imgcenB {
  min-width: 247px;
  min-height: 247px;
}

#workskin .twt .imgcenC {
  min-width: 247px;
  min-height: 134px;
}

#workskin .twt .replyimg2a,
#workskin .twt .replyimg2b {
  margin-top: -2px;
  min-width: 122px;
  max-width: 200px;
  min-height: 134px;
}

#workskin .twt .replyimg3a,
#workskin .twt .replyimg3b {
  margin-top: -2px;
  min-width: 122px;
  max-width: 180px;
  min-height: 70px;
}

#workskin .twt .replyimg4a,
#workskin .twt .replyimg4b {
  margin-top: -2px;
  min-width: 122px;
  max-width: 180px;
  min-height: 70px;
}

#workskin .twt .imgcen2a,
#workskin .twt .imgcen2b {
  width: 120px;
  height: 132px;
}

#workskin .twt .imgcen2a {
  top: 1.1px;
  margin-left: 0px;
  border-right: .5px solid;
}

#workskin .twt .imgcen2b {
  top: -131px;
  margin-left: 121px;
  border-left: 4px solid;
}

#workskin .twt .imgcen3a,
#workskin .twt .imgcen3b,
#workskin .twt .imgcen4a,
#workskin .twt .imgcen4b,
#workskin .twt .imgcen4c,
#workskin .twt .imgcen4d {
  width: 122px;
  height: 67px;
}

#workskin .twt .imgcen3a {
  top: -131px;
  margin-left: 121px;
  border-bottom: 4px solid;
  border-left: 4px solid;
}

#workskin .twt .imgcen3b {
  top: -139.5px;
  margin-left: 121px;
  border-top: 4px solid;
  border-left: 4px solid;
}

#workskin .twt .imgcen4a {
  top: .5px;
  left: -1px;
  border-bottom: 4px solid;
  border-right: 4px solid;
}

#workskin .twt .imgcen4b {
  top: -6px;
  left: -2;
  border-top: 4px solid;
  border-right: 4px solid;
}

#workskin .twt .imgcen4c {
  top: -142.5px;
  margin-left: 121px;
  border-bottom: 4px solid;
  border-left: 4px solid;
}

#workskin .twt .imgcen4d {
  top: -149px;
  margin-left: 121px;
  border-top: 4px solid;
  border-left: 4px solid;
}

#workskin .twt .twtimg2a,
#workskin .twt .twtimg2b {
  margin-top: -2px;
  min-width: 147px;
  min-height: 192px;
}

#workskin .twt .twtimg3a,
#workskin .twt .twtimg3b {
  margin-top: -2px;
  min-width: 147px;
  min-height: 95px;
}

#workskin .twt .twtimg4a,
#workskin .twt .twtimg4b {
  margin-top: -2px;
  min-width: 147px;
  min-height: 95px;
}

#workskin .twt .priv,
#workskin .twt .verified {
  display: inline-block;
  height: 12px;
  width: 12px;
  vertical-align: bottom;
  margin-top: -3px;
  margin-right: 2px;
  background-repeat: no-repeat;
  background-size: 100%;
}

#workskin .twt .headerdm .priv,
#workskin .twt .headerdm .verified {
  height: 14px;
  width: 14px;
  margin-bottom: -10px;
}

#workskin .twt .promoted,
#workskin .twt .link1,
#workskin .twt .loc {
  display: inline-block;
  height: 13px;
  width: 13px;
  margin-right: 3px;
  vertical-align: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}

#workskin .twt .dark .twtfooter,
#workskin .twt .dark .headerdm,
#workskin .twt .dark .footer,
#workskin .twt .dark .dmfooterblocked {
  border-color: #2F3336;
  background: #000000;
}

#workskin .twt .dark .bg1,
#workskin .twt .dark .bg2,
#workskin .twt .dark .bg3 {
  background: #000000;
  color: #D9D9D9;
  border-color: #2F3336;
}

#workskin .twt .dark hr.line {
  background-color: #2F3336;
}

#workskin .twt .dark .dmfooter {
  background: #000000;
}

#workskin .twt .dark .headerbutton1 {
  background-image: url("https://i.ibb.co/QYSbrH1/arrow1.png");
}

#workskin .twt .dark .headerbutton4 {
  background-image: url("https://i.ibb.co/zrhSNG6/info.png");
}

#workskin .twt .dark .headertext,
#workskin .twt .dark .headerdmtext {
  color: #D9D9D9;
}

#workskin .twt .dark .footerbutton6 {
  background-image: url("https://i.ibb.co/t2bXLLy/photo.png");
}

#workskin .twt .dark .dmfooterbar {
  background: #21282E;
}

#workskin .twt .dark .dmfooterbartext {
  color: #989A9D;
}

#workskin .twt .dark .dmfooterbutton1 {
  background-image: url("https://i.ibb.co/18X0644/dmbar1.png");
}

#workskin .twt .dark .dmfooterbutton2 {
  background-image: url("https://i.ibb.co/KrPxHLZ/dmbar2.png");
}

#workskin .twt .dark .dmfooterbutton3 {
  background-image: url("https://i.ibb.co/CW8MZSG/dmbar3.png");
}

#workskin .twt .dark .twtfootertext,
#workskin .twt .dark .replyingto {
  color: #526472;
}

#workskin .twt .dark .replydots,
#workskin .twt .dark .twtdots {
  background-image: url("https://i.ibb.co/jfpg8Bk/dotsblack.png");
}

#workskin .twt .dark .replyvertical1,
#workskin .twt .dark .replyvertical2,
#workskin .twt .dark .replyvertical3,
#workskin .twt .dark .replyvertical4,
#workskin .twt .dark .replyvertical5,
#workskin .twt .dark .verticalblocked {
  border-color: #2F3336;
}

#workskin .twt .dark .replybutton1a,
#workskin .twt .dark .twtbutton1a {
  background-image: url("https://i.ibb.co/qW67f8L/reply1.png");
}

#workskin .twt .dark .replybutton1b,
#workskin .twt .dark .twtbutton1b {
  background-image: url("https://i.ibb.co/DbJqyj3/reply2.png");
}

#workskin .twt .dark .replybutton2a,
#workskin .twt .dark .twtbutton2a {
  background-image: url("https://i.ibb.co/zSJCbZW/rt1.png");
}

#workskin .twt .dark .replybutton2b,
#workskin .twt .dark .twtbutton2b {
  background-image: url("https://i.ibb.co/M1Shdpr/rt2.png");
}

#workskin .twt .dark .replybutton2c,
#workskin .twt .dark .twtbutton2c {
  background-image: url("https://i.ibb.co/crYDXtY/rt3.png");
}

#workskin .twt .dark .replybutton3a,
#workskin .twt .dark .twtbutton3a {
  background-image: url("https://i.ibb.co/Tq0w9DS/like1.png");
}

#workskin .twt .dark .replybutton3b,
#workskin .twt .dark .twtbutton3b {
  background-image: url("https://i.ibb.co/f2gshp4/like2.png");
}

#workskin .twt .dark .replybutton4,
#workskin .twt .dark .twtbutton4 {
  background-image: url("https://i.ibb.co/Btn8236/share.png");
}

#workskin .twt .dark .reply1a,
#workskin .twt .dark .reply2a,
#workskin .twt .dark .reply3a,
#workskin .twt .dark .recent {
  color: #7C838A;
}

#workskin .twt .dark .reply1b,
#workskin .twt .dark .reply2b {
  color: #25282B;
}

#workskin .twt .dark .replyqtbox,
#workskin .twt .dark .twtqtbox {
  border-color: #202327;
}

#workskin .twt .dark .mutedcontent,
#workskin .twt .dark .replyhandle,
#workskin .twt .dark .dmfooterblocked,
#workskin .twt .dark .blockedcontent,
#workskin .twt .dark .twtblockedcontent {
  color: #7D838B;
}

#workskin .twt .dark .mutedview {
  color: #000000;
}

#workskin .twt .blue .twtcirclebox1,
#workskin .twt .dark .twtcirclebox1 {
  background: #012219;
}

#workskin .twt .dark .pollvotes {
  color: #7C848A;
}

#workskin .twt .dark .pollbarwinner,
#workskin .twt .dark .twtpollbarwinner {
  border-color: #115B8C;
  background: #115B8C;
}

#workskin .twt .dark .pollbarothers,
#workskin .twt .dark .twtpollbarothers {
  border-color: #3C5465;
  background: #3C5465;
}

#workskin .twt .dark .pollbarwin25,
#workskin .twt .dark .pollbarwin50,
#workskin .twt .dark .pollbarwin75,
#workskin .twt .dark .pollbarwin100,
#workskin .twt .dark .twtpollbarwin25,
#workskin .twt .dark .twtpollbarwin50,
#workskin .twt .dark .twtpollbarwin75,
#workskin .twt .dark .twtpollbarwin100 {
  background: #115B8C;
}

#workskin .twt .dark .pollbarlos25,
#workskin .twt .dark .pollbarlos50,
#workskin .twt .dark .twtpollbarlos25,
#workskin .twt .dark .twtpollbarlos50 {
  background: #3C5465;
}

#workskin .twt .dark .imgcen2a,
#workskin .twt .dark .imgcen2b,
#workskin .twt .dark .imgcen3a,
#workskin .twt .dark .imgcen3b,
#workskin .twt .dark .imgcen4a,
#workskin .twt .dark .imgcen4b,
#workskin .twt .dark .imgcen4c,
#workskin .twt .dark .imgcen4d,
#workskin .twt .dark .icon {
  border-color: #000000;
}

#workskin .twt .dark .twttime,
#workskin .twt .dark .twttext {
  color: #7C8488;
}

#workskin .twt .blue .dmreceived1,
#workskin .twt .blue .dmreceived2,
#workskin .twt .dark .dmreceived1,
#workskin .twt .dark .dmreceived2 {
  background: #242E37;
  color: #D9D9DB;
}

#workskin .twt .dark .dmtimestampsent,
#workskin .twt .dark .dmtimestampreceived {
  color: #7F8388;
}

#workskin .twt .dark .dmaddreactionsmall,
#workskin .twt .dark .dmaddreactionbig {
  background-image: url("https://i.ibb.co/T0WcVcy/reaction.png");
}

#workskin .twt .dark .dmreactiontext {
  color: #BCC9D0;
}

#workskin .twt .dark .dmreactionborder {
  border-color: #3F515D;
}

#workskin .twt .dark .dmdate {
  color: #BDBDBD;
}

#workskin .twt .dark .twtcantreply {
  background: #051C2A;
}

#workskin .twt .dark .end2 {
  background: #313234;
}

#workskin .twt .dark .blockedbox,
#workskin .twt .dark .qtdeleted,
#workskin .twt .dark .twtqtdeleted,
#workskin .twt .dark .deletedbox,
#workskin .twt .dark .mutedbox {
  background: #16181C;
  border-color: #202327;
}

#workskin .twt .dark .priv {
  background-image: url("https://i.ibb.co/Bgk9kPJ/priv.png");
}

#workskin .twt .dark .verified {
  background-image: url("https://i.ibb.co/WkLChmb/verified.png");
}

#workskin .twt .dark .promoted {
  background-image: url("https://i.ibb.co/WGr09rW/promoted.png");
  margin-bottom: 3px !important;
}

#workskin .twt .blue .twtfooter,
#workskin .twt .blue .headerdm,
#workskin .twt .blue .footer,
#workskin .twt .blue .dmfooterblocked {
  border-color: #39434E;
  background: #16202A;
}

#workskin .twt .blue .bg1,
#workskin .twt .blue .bg2,
#workskin .twt .blue .bg3 {
  background: #16202A;
  color: #FEFFFF;
  border-color: #39434E;
}

#workskin .twt .blue hr.line,
#workskin .twt .blue .end2 {
  background-color: #39434E;
}

#workskin .twt .blue .dmfooter {
  background: #16202A;
}

#workskin .twt .blue .headerbutton1 {
  background-image: url("https://i.ibb.co/RPnzkcC/arrow1.png");
}

#workskin .twt .blue .headerbutton4 {
  background-image: url("https://i.ibb.co/pfdrPrP/info.png");
}

#workskin .twt .blue .headertext,
#workskin .twt .blue .headerdmtext {
  color: #D9D9D9;
}

#workskin .twt .blue .footerbutton6 {
  background-image: url("https://i.ibb.co/q9Jn835/photo.png");
}

#workskin .twt .blue .dmfooterbar {
  background: #29363F;
}

#workskin .twt .blue .dmfooterbartext {
  color: #B4B7BC;
}

#workskin .twt .blue .dmfooterbutton1 {
  background-image: url("https://i.ibb.co/xMDkjPG/dmbar1.png");
}

#workskin .twt .blue .dmfooterbutton2 {
  background-image: url("https://i.ibb.co/G2SSGSK/dmbar2.png");
}

#workskin .twt .blue .dmfooterbutton3 {
  background-image: url("https://i.ibb.co/6tLqdCH/dmbar3.png");
}

#workskin .twt .blue .twtfootertext,
#workskin .twt .blue .replyingto {
  color: #8699A5;
}

#workskin .twt .blue .replydots,
#workskin .twt .blue .twtdots {
  background-image: url("https://i.ibb.co/hYC0G1s/dotsblue.png");
}

#workskin .twt .blue .replyvertical1,
#workskin .twt .blue .replyvertical2,
#workskin .twt .blue .replyvertical3,
#workskin .twt .blue .replyvertical4,
#workskin .twt .blue .replyvertical5,
#workskin .twt .blue .verticalblocked {
  border-color: #39434E;
}

#workskin .twt .blue .replybutton1a,
#workskin .twt .blue .twtbutton1a {
  background-image: url("https://i.ibb.co/bgjvjMC/reply1.png");
}

#workskin .twt .blue .replybutton1b,
#workskin .twt .blue .twtbutton1b {
  background-image: url("https://i.ibb.co/VVgFMJv/reply2.png");
}

#workskin .twt .blue .replybutton2a,
#workskin .twt .blue .twtbutton2a {
  background-image: url("https://i.ibb.co/42szZFy/rt1.png");
}

#workskin .twt .blue .replybutton2b,
#workskin .twt .blue .twtbutton2b {
  background-image: url("https://i.ibb.co/fx35kdY/rt2.png");
}

#workskin .twt .blue .replybutton2c,
#workskin .twt .blue .twtbutton2c {
  background-image: url("https://i.ibb.co/0nD8fDW/rt3.png");
}

#workskin .twt .blue .replybutton3a,
#workskin .twt .blue .twtbutton3a {
  background-image: url("https://i.ibb.co/bXJhxLB/like1.png");
}

#workskin .twt .blue .replybutton3b,
#workskin .twt .blue .twtbutton3b {
  background-image: url("https://i.ibb.co/w0Sk4F1/like2.png");
}

#workskin .twt .blue .replybutton4,
#workskin .twt .blue .twtbutton4 {
  background-image: url("https://i.ibb.co/8MNwKQ7/share.png");
}

#workskin .twt .blue .reply1a,
#workskin .twt .blue .reply2a,
#workskin .twt .blue .reply3a,
#workskin .twt .blue .recent {
  color: #8799A5;
}

#workskin .twt .blue .reply1b,
#workskin .twt .blue .reply2b {
  color: #384451;
}

#workskin .twt .blue .replyqtbox,
#workskin .twt .blue .twtqtbox {
  border-color: #38434E;
}

#workskin .twt .blue .mutedcontent,
#workskin .twt .blue .replyhandle,
#workskin .twt .blue .dmfooterblocked,
#workskin .twt .blue .blockedcontent,
#workskin .twt .blue .twtblockedcontent,
#workskin .twt .blue .mutedview {
  color: #8799A5;
}

#workskin .twt .blue .pollvotes {
  color: #8799A5;
}

#workskin .twt .blue .pollbarwinner,
#workskin .twt .blue .twtpollbarwinner {
  border-color: #1B689E;
  background: #1B689E;
}

#workskin .twt .blue .pollbarothers,
#workskin .twt .blue .twtpollbarothers {
  border-color: #3D5466;
  background: #3D5466;
}

#workskin .twt .blue .pollbarwin25,
#workskin .twt .blue .pollbarwin50,
#workskin .twt .blue .pollbarwin75,
#workskin .twt .blue .pollbarwin100,
#workskin .twt .blue .twtpollbarwin25,
#workskin .twt .blue .twtpollbarwin50,
#workskin .twt .blue .twtpollbarwin75,
#workskin .twt .blue .twtpollbarwin100 {
  background: #1B689E;
}

#workskin .twt .blue .pollbarlos25,
#workskin .twt .blue .pollbarlos50,
#workskin .twt .blue .twtpollbarlos25,
#workskin .twt .blue .twtpollbarlos50 {
  background: #3D5466;
}

#workskin .twt .blue .imgcen2a,
#workskin .twt .blue .imgcen2b,
#workskin .twt .blue .imgcen3a,
#workskin .twt .blue .imgcen3b,
#workskin .twt .blue .imgcen4a,
#workskin .twt .blue .imgcen4b,
#workskin .twt .blue .imgcen4c,
#workskin .twt .blue .imgcen4d,
#workskin .twt .blue .profileicon,
#workskin .twt .blue .icon {
  border-color: #16202A;
}

#workskin .twt .blue .twttime,
#workskin .twt .blue .twttext {
  color: #8999A3;
}

#workskin .twt .blue .dmtimestampsent,
#workskin .twt .blue .dmtimestampreceived {
  color: #8799A6;
}

#workskin .twt .blue .dmaddreactionsmall,
#workskin .twt .blue .dmaddreactionbig {
  background-image: url("https://i.ibb.co/PwZS3Bk/reaction.png");
}

#workskin .twt .blue .dmreactiontext {
  color: #B9CAD2;
}

#workskin .twt .blue .dmreactionborder {
  border-color: #3F525D;
}

#workskin .twt .blue .twtcantreply {
  background: #153043;
}

#workskin .twt .blue .blockedbox,
#workskin .twt .blue .qtdeleted,
#workskin .twt .blue .twtqtdeleted,
#workskin .twt .blue .deletedbox,
#workskin .twt .blue .mutedbox {
  background: #182430;
  border-color: #202327;
}

#workskin .twt .blue .priv {
  background-image: url("https://i.ibb.co/MVks4TW/priv.png");
}

#workskin .twt .blue .verified {
  background-image: url("https://i.ibb.co/MPf16Bb/verified.png");
}

#workskin .twt .blue .promoted {
  background-image: url("https://i.ibb.co/C1Ys1Sw/promoted.png");
  margin-bottom: 3px !important;
}

#workskin .twt .light .twtfooter,
#workskin .twt .light .headerdm,
#workskin .twt .light .footer,
#workskin .twt .light .dmfooterblocked {
  border-color: #D4D8DB;
  background: #ffffff;
}

#workskin .twt .light .bg1,
#workskin .twt .light .bg2,
#workskin .twt .light .bg3 {
  background: #ffffff;
  color: #000000;
  border-color: #D4D8DB;
}

#workskin .twt .light hr.line,
#workskin .twt .light .end2 {
  background-color: #D4D8DB;
}

#workskin .twt .light .dmfooter {
  background: #ffffff;
}

#workskin .twt .light .headerbutton1 {
  background-image: url("https://i.ibb.co/R2LsDKg/arrow1.png");
}

#workskin .twt .light .headerbutton4 {
  background-image: url("https://i.ibb.co/PF8C3cZ/info.png");
}

#workskin .twt .light .headertext,
#workskin .twt .light .headerdmtext {
  color: #000000;
}

#workskin .twt .light .dmfooterbartext,
#workskin .twt .light .twtfootertext,
#workskin .twt .light .replyingto,
#workskin .twt .light .reply1a,
#workskin .twt .light .reply2a,
#workskin .twt .light .reply3a,
#workskin .twt .light .mutedcontent,
#workskin .twt .light .replyhandle,
#workskin .twt .light .dmfooterblocked,
#workskin .twt .light .blockedcontent,
#workskin .twt .light .twtblockedcontent,
#workskin .twt .light .pollvotes,
#workskin .twt .light .mutedview,
#workskin .twt .light .twttime,
#workskin .twt .light .twttext,
#workskin .twt .light .dmtimestampsent,
#workskin .twt .light .dmtimestampreceived,
#workskin .twt .light .dmreactiontext {
  color: #526472;
}

#workskin .twt .light .footerbutton6 {
  background-image: url("https://i.ibb.co/TvsrQZd/photo.png");
}

#workskin .twt .light .dmfooterbar {
  background: #EFF3F4;
}

#workskin .twt .light .dmfooterbutton1 {
  background-image: url("https://i.ibb.co/t25KrhW/dmbar1.png");
}

#workskin .twt .light .dmfooterbutton2 {
  background-image: url("https://i.ibb.co/J5zWQjp/dmbar2.png");
}

#workskin .twt .light .dmfooterbutton3 {
  background-image: url("https://i.ibb.co/XLdk8tb/dmbar3.png");
}

#workskin .twt .light .replydots,
#workskin .twt .light .twtdots {
  background-image: url("https://i.ibb.co/WPp0gWK/dotslight.png");
}

#workskin .twt .light .replyvertical1,
#workskin .twt .light .replyvertical2,
#workskin .twt .light .replyvertical3,
#workskin .twt .light .replyvertical4,
#workskin .twt .light .replyvertical5,
#workskin .twt .light .verticalblocked {
  border-color: #D4D8DB;
}

#workskin .twt .light .replybutton1a,
#workskin .twt .light .twtbutton1a {
  background-image: url("https://i.ibb.co/CtJxPLy/reply1.png");
}

#workskin .twt .light .replybutton1b,
#workskin .twt .light .twtbutton1b {
  background-image: url("https://i.ibb.co/qdbZHCB/reply2.png");
}

#workskin .twt .light .replybutton2a,
#workskin .twt .light .twtbutton2a {
  background-image: url("https://i.ibb.co/3h5MH3J/rt1.png");
}

#workskin .twt .light .replybutton2b,
#workskin .twt .light .twtbutton2b {
  background-image: url("https://i.ibb.co/SwRHT94/rt2.png");
}

#workskin .twt .light .replybutton2c,
#workskin .twt .light .twtbutton2c {
  background-image: url("https://i.ibb.co/KG2r3RW/rt3.png");
}

#workskin .twt .light .replybutton3a,
#workskin .twt .light .twtbutton3a {
  background-image: url("https://i.ibb.co/VYchGQv/like1.png");
}

#workskin .twt .light .replybutton3b,
#workskin .twt .light .twtbutton3b {
  background-image: url("https://i.ibb.co/sVWHf7X/like2.png");
}

#workskin .twt .light .replybutton4,
#workskin .twt .light .twtbutton4 {
  background-image: url("https://i.ibb.co/s1jyfST/share.png");
}

#workskin .twt .light .reply1b,
#workskin .twt .light .reply2b {
  color: #D4D8DB;
}

#workskin .twt .light .replyqtbox,
#workskin .twt .light .twtqtbox {
  border-color: #D3D8DB;
}

#workskin .twt .light .twtcirclebox1 {
  background: #ECFFF9;
}

#workskin .twt .light .pollbarwinner,
#workskin .twt .light .twtpollbarwinner {
  border-color: #7BC5F6;
  background: #7BC5F6;
}

#workskin .twt .light .pollbarothers,
#workskin .twt .light .twtpollbarothers {
  border-color: #D0D9DE;
  background: #D0D9DE;
}

#workskin .twt .light .pollbarwin25,
#workskin .twt .light .pollbarwin50,
#workskin .twt .light .pollbarwin75,
#workskin .twt .light .pollbarwin100,
#workskin .twt .light .twtpollbarwin25,
#workskin .twt .light .twtpollbarwin50,
#workskin .twt .light .twtpollbarwin75,
#workskin .twt .light .twtpollbarwin100 {
  background: #7BC5F6;
}

#workskin .twt .light .pollbarlos25,
#workskin .twt .light .pollbarlos50,
#workskin .twt .light .twtpollbarlos25,
#workskin .twt .light .twtpollbarlos50 {
  background: #D0D9DE;
}

#workskin .twt .light .imgcen2a,
#workskin .twt .light .imgcen2b,
#workskin .twt .light .imgcen3a,
#workskin .twt .light .imgcen3b,
#workskin .twt .light .imgcen4a,
#workskin .twt .light .imgcen4b,
#workskin .twt .light .imgcen4c,
#workskin .twt .light .imgcen4d,
#workskin .twt .light .icon {
  border-color: #ffffff;
}

#workskin .twt .light .dmreceived1,
#workskin .twt .light .dmreceived2 {
  background: #EFF3F4;
  color: #000000;
}

#workskin .twt .light .dmaddreactionsmall,
#workskin .twt .light .dmaddreactionbig {
  background-image: url("https://i.ibb.co/988Hfxv/reaction.png");
}

#workskin .twt .light .dmreactionborder {
  border-color: #D0D9DE;
}

#workskin .twt .light .dmdate {
  color: #2F3237;
}

#workskin .twt .light .twtcantreply {
  background: #EBFAFF;
}

#workskin .twt .light .blockedbox,
#workskin .twt .light .qtdeleted,
#workskin .twt .light .twtqtdeleted,
#workskin .twt .light .deletedbox,
#workskin .twt .light .mutedbox {
  background: #F7F9F8;
  border-color: #D3D8DB;
}

#workskin .twt .light .priv {
  background-image: url("https://i.ibb.co/Jq0tkwt/priv.png");
}

#workskin .twt .light .verified {
  background-image: url("https://i.ibb.co/vcSWx5Y/verified.png");
}

#workskin .twt .light .promoted {
  background-image: url("https://i.ibb.co/FqGTt08/promoted.png");
  margin-bottom: 3px !important;
}
